// Required
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: #c5654c;
$body-color: #fff;

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$primary: ##143c97;


$theme-colors: (
  "primary": $primary,
);
