body {
	background: #c5654c;
	font-family: Italianno;
}

h1 {
	font-size: 100px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	color:#143c97
}

h5 {
	font-size: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	color:#143c97
}

h6 {
	font-size: 30px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
	color:#143c97
}

button {
	font-size: 30px;
}

img{
	width: 100%;
}

/* Campos de entrada de largura total */
input[type=text], input[type=password] {
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
}

/* Estilo para todos os botões */
button {
  	background-color: #162a83;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 100%;
}

button:hover {
  	opacity: 0.5;
}
/* Estilo para o botões de Cancelar */

.cancelbtn {
  	width: auto;
  	padding: 10px 18px;
  	background-color: #f44336;
}

/* Centralize a imagem e Posicione o botão Fechar */
.imgcontainer {
  	text-align: center;
  	margin: 24px 0 12px 0;
  	position: relative;
}

img.avatar {
  	width: 30%;
  	border-radius: 0%;
}

.container {
  	padding: 16px;
}

span.psw {
  	float: right;
  	padding-top: 16px;
}

/* O Modal (plano de fundo) */
.modal {
  	display: none;
 	position: fixed;
  	z-index: 1;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
  	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0,0.4);
  	padding-top: 60px;
}

/* Conteúdo / caixa modal */
.modal-content {
  	background-color: #fefefe;
  	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  	border: 1px solid #888;
  	width: 80%; /* Could be more or less, depending on screen size */
}

/* O botão Fechar (x) */
.close {
  	position: absolute;
  	right: 25px;
  	top: 0;
  	color: #000;
  	font-size: 35px;
  	font-weight: bold;
}

.close:hover,
.close:focus {
  	color: red;
  	cursor: pointer;
}

/* Adicionar animação de zoom */
.animate {
  	-webkit-animation: animatezoom 0.6s;
  	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  	from {-webkit-transform: scale(0)} 
  	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  	from {transform: scale(0)} 
  	to {transform: scale(1)}
}

/* Alterar os estilos do botão span e cancelar em telas extra pequenas */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
