* {
    padding: 0;
  }
  
  body {
      font-family: Italianno;
      background-image: logo_do_site.jpeg;
	  background-size: cover;
  }
  
  h1, h2, h3 {
      color: #162a83;
  }
  
  h1 {
      font-size: 40px;
      letter-spacing: 2px;
      margin-bottom: 20px;
      margin-top: 20px;
      text-align: left;
      text-transform: uppercase;
  }
  
  h2 {
      font-size: 25px;
      margin-bottom: 10px;
      margin-top: 10px;
  }
  
  h3 {
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
  }
  
  nav a:link {
      color: blue;
      font-size: 30px;
      font-style: italic;
      text-decoration: none;
  }
  
  nav a:visited {
      color: red;
  }
  
  nav a:hover {
      color: #800080;
  }
  
  nav a:active {
      text-decoration: underline purple;
  }
  
  aside a:link {
      color: red;
  }
  
  img {
      width: 100%;
      height: auto;
  }
  
table, th, tr{
	border: none;
	width: 100%;
	margin: 10px;
	text-align: center
}  
  
table nav{
	padding: 90px;
}


.image {
	width: 300px;
	height: 200px;
	float: left;
	clear: left;
	margin: 10px; 
}